<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/js/api.js"></script>
    <link rel="stylesheet" href="/css/company.css">
    <title>Document</title>

    <template class='employee-card'>
        <div class='employee card' data-id=''">
            <h1 class='name'></h1>
            <p class='email'></p>
            <p class='phone'></p>
            <p class='department_id'></p>
            <img src=''>
        </div>
    </template>

</head>
<body>
    <main>

    </main>
</body>

<script>
    window.onload = function() {
        index()
    }
</script>
</html>